.width_100 {
  width: 100%;
}

.list_none {
  list-style: none;
}

/* header */

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 100;
  background-color: white;
}

/* jumbo */

.jumbo {
  background-image: url(../img/jumbo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 80px;
}

/* loghi */

#logo {
  background-color: lightgrey;
}

.logo_list {
  list-style: none;
}

/* seconda sezione */

/* sezione design */
#design {
  height: 400px;
  background-color: lightgrey;
}




@media screen and (max-width: 1200px) {
  .width_100 {
    width: 50%;
  }
  .align_left {
    text-align: left;

  }
}

@media screen and (max-width: 768px) {
  .logo_list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .logo_list li {
    display: inline-block;
  }
}
