.width_100 {
  width: 100%;
}

body {
  min-width: 400px;
}

.list_none {
  list-style: none;
}

/* header */

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 100;
  background-color: white;
}

/* jumbo */

.jumbo {
  background-image: url(../img/jumbo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 80px;
}

/* loghi */

#logo {
  background-color: lightgrey;
}

.logo_list {
  list-style: none;
}

/* seconda sezione */

/* design */
#design {
  height: 400px;
  background-color: lightgrey;
}

/* service */

#service {
  height: 400px;
  background-color: blue;
  color: white;
}

/* develope */
#develope {
  position: relative;
  height: 500px;
  background-color: lightgrey;
}

.rocker_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  margin: auto;
  vertical-align: middle;
  height: 300px;
}

/* account */
#account {
  position: relative;
  height: 200px;
  background-color: blue;
}

.container_account {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

footer {
  background-color: darkblue;
  height: 500px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .width_100 {
    width: 50%;
  }
  .align_left {
    text-align: left;

  }
}

@media screen and (max-width: 768px) {
  .logo_list {
    display: block;
  }
  body {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo_list li {
    display: inline-block;
  }
}
