body {
  min-width: 400px;
  font-family: 'Roboto', sans-serif;
}

.width_100 {
  width: 100%;
}

.width_70 {
  width: 70%;
}

.list_none {
  list-style: none;
}

.bold {
  font-weight: bold;
}

.padding_30 {
  padding: 15px;
}

.padding_70 {
  padding: 70px 0;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_top_50 {
  margin-top: 50px;
}

/* header */

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 100;
  background-color: white;
}

.style_h1 {
  color: white;
  font-size: 60px;
  width: 85%;
}

.style_p_header {
  font-size: 18px;
  color: lightgrey;
  width: 85%;
}

.header_top .container ul li a {
  color: #0e215d;
  text-decoration: none;
}

.header_top .container ul li a.btn_blue {
  color: #0088ff;
}

.btn_blue {
  border: 2px solid #0088ff;
  color: #0088ff;
}

.header_top .container ul li:hover a.btn_blue {
  border: 2px solid white;
  color: white;
  background-color: #0088ff;
  border-radius: 5px;
}

/* jumbo */

.jumbo {
  background-image: url(../img/jumbo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.box_white {
  width: 90%;
  background-color: white;
  border-radius: 5px;
}

.text_jumbo {
  font-size: 27px;
}

.color_jumbo {
  color: #0069ff;;
  line-height: 20px;
}

.button_account {
  background-color: #0069ff;
  color: white;
}

.button_google {
  box-shadow: 1px 1px lightgrey;
  background-color: white;
  border-radius: 5px;
}

.icon_google {
  position: relative;
  width: 8%;
  left: -100px;
  padding: 5px;
}

/* loghi */

#logo {
  background-color: #F3F5F9;
  padding: 50px;
}

#logo li {
  max-width: calc(90%/6);
}
#logo li img {
  width: 100%;
}

.font_16 {
  font-size: 16px;
  color: grey;
}
.logo_list {
  list-style: none;
  display: inline-block;
}

.width_90_margin {
  width: 90%;
  margin: auto;
  height: 80px;
  line-height: 80px;
}

.size_img_logo_1 {
  width: 100%;
}
.size_img_logo_2 {
  position: relative;
  width: 70%;
  left: 20px;
}
.size_img_logo_3 {
  width: 90%;
}
.size_img_logo_4 {
  width: 100%;
}
.size_img_logo_5 {
  width: 100%;
}
.size_img_logo_6 {
  width: 90%;
}

.symbol {
  color: #0069ff;
}

.symbol::after {
  content: ">";
  margin-left: 5px;
}

/* seconda sezione */

#deploy {
  padding: 40px 0;
}

.width_90 {
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: rgba(3,27,78,.7);
}

.color_blue {
  color: #0e215d;
}

.width_70_margin {
  width: 70%;
  margin: auto;
}

.cluster {
  height: 200px;
}

ul.line_deploy  {
  line-height: 35px;
  border-left: 1px solid grey;
  padding-left: 10px;
  font-weight: 700;
  font-size: 16px;
}

ul.line_deploy li a {
  color: rgba(3,27,78,.7);
}

.cluster h4 {
  margin: 20px 0;
  font-weight: 700;
  color: #0e215d;
}

.cluster p {
  color: rgba(3,27,78,.7);
}

/* design */

#design {
  padding: 40px 0;
  background-color: #F3F5F9;
}

.width_50 {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.style_p {
  margin: auto;
  font-size: 18px;
  color: rgba(3,27,78,.7);
}

.circle span a:hover i {
  background-color: #0e215d;
  border-radius: 50%;
}

.display_inline {
  display: inline-block;
}

.arrow {
  line-height: 350px;
  font-size: 25px;
}

/* businesses */

#business {
  padding: 40px 0;
}

#business h3 {
  margin: 20px 0;
  font-weight: 700;
  color: #0e215d;
}

#business p {
  color: rgba(3,27,78,.7);
}

#business a {
  font-size: 16px;
}

/* service */

#service {
  padding: 40px 0;
  background-image: linear-gradient(#0000ff, #0e215d);
  color: white;
}

.right_margin {
  margin-right: 40px;
}

.left_margin {
  margin-left: 170px;
}

/* develope */
#develope {
  position: relative;
  height: 500px;
  background-color: lightgrey;
}

.rocker_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  margin: auto;
  vertical-align: middle;
  height: 300px;
}

/* account */
#account {
  position: relative;
  height: 200px;
  background-color: blue;
}

.container_account {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

footer {
  background-color: darkblue;
  height: 500px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .width_70 {
    width: 40%;
  }
  .align_left {
    text-align: left;
  }
  .icon_google {
    left: 0;
  }

  .arrow_left, {
    right: 280px;
    top: 170px;
  }
}

@media screen and (max-width: 992px) {
  .arrow {
    line-height: 260px
  }

}

@media screen and (max-width: 768px) {
  .logo_list {
    display: block;
  }

  #logo li {
    max-width: calc(90%/2);
  }

  #logo li img {
    width: 70%;
  }

  #business .row img {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .logo_list li {
    display: inline-block;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #deploy {
    padding-bottom: 120px;
  }
  .cluster img.margin_img {
    margin-top: 50px;
  }

}
